.footer {
    font-size: 1.6rem;
    padding: 1.5rem 0;
    width: calc(100% - 12rem);
    margin-left: 12rem;

    @media screen and (max-width: 991px) {
        margin-left: 0;
        width: 100%;
    }

    p {
        text-align: center;
        margin-bottom: 1rem;

        &.builtWith {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
}