.sidebar {
    background-color: #00274c;
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 100vh;
    position: fixed;
    transition: all .2s;
    z-index: 999;

    @media screen and (min-width: 992px) {
        &:hover {
            width: 24rem;
    
            .navItemText {
                display: block;
                opacity: 1;
                transition: display .5s, opacity .5s;
                transition-delay: .1s;
            }
        }
    }

    @media screen and (max-width: 991px) {
        width: 24rem;
        left: -24rem;
    }


    .logoWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 8rem;


        h1 {
            font-size: 4rem;
            color: #fff;
        }
    }
    
}

.nav {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 3.5rem;

    ul {
        width: 100%;
        li {
            margin-bottom: 1rem;

            a {
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                border-radius: 1rem;
                width: 100%;
                position: relative;

                &:hover {
                    background: #6280a4;

                    svg {
                        color: #ff7900;
                    }
                }
                

                .navItemText {
                    text-transform: uppercase;
                    opacity: 0;
                    display: none;
                    color: #fff;
                    position: absolute;
                    left: 5rem;

                    @media screen and (max-width: 991px) {
                        display: block;
                        opacity: 1;
                    }
                }
                
                svg {
                    padding: 1rem;
                    box-sizing: content-box;
                    color: #fff;
                    font-size: 3rem;
                    speak: none;
                }
            }
        }
    }
}

