.workItem {
    border-radius: 1rem;
    display: flex;
    box-shadow: 8px 8px 43px -30px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 8px 43px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 43px -30px rgba(0,0,0,0.75);
    padding: 4rem;


    @media screen and (max-width: 991px) {
        flex-direction: column;
        padding: 0;
    }

    .workItemImgWrap {
        width: 35rem;
        border-radius: 1rem;
        border: 1px solid #eee;

        @media screen and (max-width: 991px) {
            width: 100%;
        }

        .workItemImg {
            width: 100%;
            border: 1px solid #dedede;
            border-radius: 1rem;
    
            @media screen and (max-width: 991px) {
                max-width: none;
                margin-bottom: 2rem;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .workItemContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 4rem;

        @media screen and (max-width: 991px) {
            margin-left: 0;
            padding: 2rem;
        }

        .workItemContentHeading {

            .workItemTitle {
                font-size: 2.2rem;
                margin-bottom: .5rem;
            }
        
            .workItemDescription {
                font-size: 1.6rem;
                color: #ff7900;
                margin-bottom: 4rem;
            }

        }

        .workItemLink {
            align-self: flex-start;
            background: #00274c;
            border: 0;
            border-radius: 0.5rem;
            padding: 1.4rem 2.8rem;
            color: #fff;
            font-size: 1.4rem;
            letter-spacing: 1px;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            text-transform: uppercase;

            &:hover {
                color: #ff7900;
            }
        }

    }

    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}